In [1]:
# build_nutrition_db.py
import pandas as pd
import sqlite3

In [4]:
# 1️⃣ Load the CSV file
df = pd.read_csv("nutrition.csv")

In [5]:
# 2️⃣ Create SQLite DB and store the data
conn = sqlite3.connect("nutrition_local.db")
df.to_sql("foods", conn, if_exists="replace", index=False)
conn.close()

print("✅ Local nutrition database created successfully!")

✅ Local nutrition database created successfully!

In [6]:
df.head()

         name  calories  carbs  protein  fat  fiber
0       apple        52   14.0      0.3  0.2    2.4
1      banana        89   23.0      1.1  0.3    2.6
2      orange        47   12.0      0.9  0.1    2.4
3      grapes        69   18.0      0.7  0.2    0.9
4  watermelon        30    8.0      0.6  0.2    0.4

In [11]:
from db import add_food

In [12]:
add_food("Avocado", 160, 9, 2, 15, 7)

✅ Added 'Avocado' to local database.

In [ ]:
choice=input("Do you want to add a new food item? (yes/no): ").strip().lower()
if choice == 'yes':
    quan= int(input("How many food items do you want to add? ").strip())
    for i in range(quan):
        name = input("Enter food name: ").strip()
        calories = int(input("Enter calories: ").strip())
        carbs = int(input("Enter carbs (g): ").strip())
        protein = int(input("Enter protein (g): ").strip())
        fat = int(input("Enter fat (g): ").strip())
        fiber = int(input("Enter fiber (g): ").strip())
        
        add_food(name, calories, carbs, protein, fat, fiber)

ValueError: invalid literal for int() with base 10: ''